{% extends 'base.html' %}

{% block content %}


    <div class="row" >
        <div class="container">


    {% for x in projet %}
        <div class="col">

            <div class="card" style="width: 18rem;">
                <img src="{{x.image_url}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{x.titre}}</h5>
                    <p class="card-text">{{x.description}}</p>
                    <a href="#" class="btn btn-primary">savoir plus</a>
                </div>
            </div>
            </div>

    {% endfor %}
        </div>
</div>

{% endblock %}